__pycache__/
*.pyc
*.pyo
*.pyd
build/
build_*/
dist/
dist_*/
.venv/
venv/
env/
src/*
!src/График ППР/
src/График ППР/*
!src/График ППР/*.xlsx
web_grafik_ppr/__pycache__/
web_grafik_ppr/data/

*.db-wal
*.db-shm
*.sqlite3-journal
*.log

.pytest_cache/
.mypy_cache/
.ruff_cache/
