[Unit]
Description=RTPS Tabel web app
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/rtps
Environment=WEB_HOST=0.0.0.0
Environment=WEB_PORT=8005
ExecStart=/usr/bin/python3 /opt/rtps/web_tabel/app.py
Restart=always
RestartSec=2
User=root

[Install]
WantedBy=multi-user.target
